*{
    font-family: 'Raleway', sans-serif;
}

/* navBar Setting */
.navBar {
    text-align: right;
}

.navBar__a {
    margin-left: 1.8rem;
    text-decoration: none;
    font-size: 0.8rem;
}

.navBar__a--light-blue {
    color:rgb(91, 142, 238);
}
.navBar__a--smoke-grey {
    color: rgb(112, 111, 111);
}
.navBar__a--intense-blue {
    color:rgb(47, 113, 236);
}

.navBar__a--font-400 {
    font-weight: 400;
}


.navBar__a:hover {
    font-weight: 800;
    color: rgb(21, 94, 230);
}

/* End Nav Bar setting */


/* descrizione */

.descrizione {
    text-align: left;
}

.descrizione__h5 {
    font-weight: 800;
}
.descrizione__h5 {  
    margin-top: -0.8rem;
    font-weight: 400;
}

/* fine descrizione */




/* Mappa */

.mappa {
    border-radius: 1rem;
    min-width: 21rem;
    width: 10%;
}

.mappa__icona {
    padding: 1rem;
    margin-bottom: -1rem;
    margin-right: -.21rem;
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(194, 194, 194);
    height: 0.85em;
}

.mappa__testo {
    padding: .8rem;
    height: 0.95rem;
}

.mappa__search {
    border:0;
    padding: .9rem;
    border-radius: 0 1rem 1rem 0;
    margin-left: -0.25rem;
}

.mappa__search--blue-background {
    background-color: rgb(21, 94, 230);
}
.mappa__search--white {
    color: white;
}
/* fine Mappa */




/* filter Button */

.filter-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    margin-top: 2rem;
}

@media (max-width:890px) {
    .filter-section {
        display: flex;
        flex-flow: column wrap;
        gap: 3rem;
        align-items: flex-start;
    }

    .filter-section__p {
        margin-bottom: -1.4rem;
    }

    .filter-section__a--border {
        min-width: 12vw;
        width: 50%;
    }

}

.filter-section__p {
    font-size: 0.9rem;
    font-weight: 800;
}


.filter-section__a {
    font-size: 0.9rem;
    font-weight: 800;
}


.filter-section__a--border {
    border:1px solid grey;
    border-radius: 2rem;
    padding:0rem 1rem;
}

.filter-section__a {
    text-decoration: none;
    color: black;
}

.filter-section__a:hover {
    background-color: rgb(21, 94, 230);
    color: white;
}

.filter-section__a--icon {
    height: 20px;
    width: 20px;
    margin: 1px;
    padding: 0.5rem 0.79rem;
    background-color: #DEEBFF;
    border-radius: 20px;
    border: 0px solid grey;
    color: #0065FC;
    position: relative;
    right: 1rem;
}

.filter-section__a--span {
    position: relative;
    bottom:0.7rem;
    right: 0.2rem;
}

/* fine filterButton */

/* Advice */

.advice {
    display: flex;
    margin-top: 2rem;
    min-width: 18rem;
    gap: 1rem;
}
.advice__i {
    color: rgb(21, 94, 230);
}

.advice__span {
    font-size: 0.9rem;
}



/* fine Advice */



/* Sezione Accomodation in Marseille */
.sectionAccomodations {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin: 2rem 0;
    flex:1;
}


.containerRoom {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
}

.containerRoom__a {
    background-color: white;
    border:1px solid rgb(216, 215, 215);
    text-decoration: none;
    margin-bottom: 2rem;
    border-radius: 2rem;
    margin-left: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.containerRoom__a:hover {
    background-color: rgb(168, 193, 236);
}

.containerRoom__a__img{
    width: 13em;
    height: 8em;
    min-width: 30%;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
}

.containerRoom__a__h4 {
    font-size: 0.85rem;
    font-weight: 800;
    color: black;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.containerRoom__a__h5 {
    font-weight: 400;
    font-size: 0.85rem;
    color: black;
    margin-left: 0.5em;
    margin-top: -1em;
}

.containerRoom__a__i {
    margin-left: 0.5em;
    color: rgb(21, 94, 230);
    position: relative;
    top: -1rem;
    left: 0.3rem;
    font-size: 0.85rem;
}


/* fine Accomodation in Marseille */



/* inizio Most Popular */

.containerRoomPopular {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    flex-grow: 1;
}

.containerRoomPopular__a {
    display: flex;
    gap: 1rem;
    background-color: white;
    border:1px solid rgb(216, 215, 215);
    text-decoration: none;
    margin-bottom: 2rem;
    border-radius: 2rem;
    margin-left: 1rem;
    padding-right: 3rem;
}

.containerRoomPopular__a__img {
    width: 14rem;
    height: 9rem;
    min-width: 7%;
    border-radius: 2rem 0rem 0rem 2rem;
    object-fit: cover;
}

.containerRoomPopular__a__div {
    min-width: 6rem;
}


.containerRoomPopular__a:hover {
    background-color: rgb(168, 193, 236);
}



/* fine Most Popular */



/* inizio Activities */

.sectionActivities{
    margin-top: 2em; 
    background-color: rgb(219, 219, 219); 
    border-radius: 2rem;
}

@media (max-width:462px) {
    .sectionActivities{
        width: 461px;
    }
}



.activities {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-flow: 1;
}

.activites__a {
    margin-top:1.3em;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 2rem;
    text-decoration: none;
    height: fit-content;
    background-color: white;
}

.activites__a__img--grande {
    width: 12rem;
    height: 300px;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
}

.activites__a__img--piccola {
    width: 200px;
    height: 150px;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
}

.activites__a__h4 {
    font-weight: 800;
    font-size: 1.3ch;
    color: black;
    margin-top: -0.3em;
    margin-left: 0.5rem;
}

.activites__a:hover {
    background-color: rgb(168, 193, 236);
}

/* fine Activities */


/* inizio Footer */

.footerContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin:0 2em;
    flex-grow: 1;
}

.footerColumns {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
}

.footerColumns__a {
    text-decoration: none;
    color: rgb(21, 94, 230);
}

.footerColumns__a:hover {
    font-weight: 800;
    color: rgb(21, 94, 230);
}


/* fine Footer */